name: deploy examples
on:
  push:
    branches:
      - main
      - feat/ci
jobs:
  build:
    name: Build
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        node:
          - 16
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Setup Node 18
        uses: actions/setup-node@v2
        with:
          node-version: "18"
      - name: Install
        run: yarn install
      - name: Build
        run: yarn build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: demos
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
